body {
    margin: 0;
    background: #F5DE8A;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin: -52px 200px;
}

.header {
    background: #2ECC71;
    height: 15vh;
}

.header-line {
    padding-top: 50px;
    display: flex;
    align-items: center;
}

.nav-item {
    margin: 70px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 32px;
    margin-right: 25px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;
}

.catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 4rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
}

.catalog-content-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 10px;
}

.catalog-content-container b {
    font-size: 24px;
    font-weight: bold;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Центрируем по вертикали */
    height: 100%; /* Задаем высоту для выравнивания */
    margin: 0 8px;
    margin-top: 6px;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Центрируем содержимое по вертикали */
    height: 100%; /* Задаем высоту для контейнера */
    margin-top: 210px; /* Добавьте нужное значение отступа сверху */
    margin-right: 20px;
}

.home-content p {
    font-size: 32px;
    margin-bottom: 14px;
}

.first_column, .second_column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first_column div, .second_column div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px; /* Отступ между товарами */
    margin-bottom: 10px;
}

.second_column {
    margin-top: 35px;
}

.product-info {
    display: flex; /* Используем flexbox для выравнивания */
    justify-content: space-between; /* Распределяем пространство между элементами */
    align-items: center; /* Выравниваем элементы по центру по вертикали */
    width: 100%; /* Занимает всю ширину */
}

.product-info p {
    font-size: 24px; /* Размер шрифта для цены */
    flex: 1; /* Занимает всё доступное пространство */
    margin-top: -10px;
    margin-right: 185px;
}

.product-info a {
    font-size: 24px; /* Размер шрифта для цены */
    flex: 1; /* Занимает всё доступное пространство */
    margin-top: -60px;
    margin-left: 220px;
}

.komod b {
    margin-top: 15px;
    margin-right: 115px;
}
.furn b {
    margin-top: 15px;
    margin-left: 10px;
}
.sofa b {
    margin-top: 15px;
    margin-right: 70px;
    margin-bottom: 4px;
}
.armchair b {
    margin-top: 5px;
}
.armchair p {
    margin-left: 38px;
}

.button {
    background-color: #2ECC71; /* Зеленый цвет кнопки */
    color: #fff; /* Белый текст */
    padding: 8px 25px; /* Отступы внутри кнопки */
    text-decoration: none; /* Убираем подчеркивание */
    border-radius: 6px; /* Закругленные углы */
    margin-left: 10px; /* Отступ между ценой и кнопкой */
    font-weight: bold;
    font-size: 20px; /* Размер шрифта */
    transition: background-color 0.3s; /* Плавный переход цвета */
}

.button:hover {
    background-color: #28B463; /* Более темный зеленый при наведении */
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    font-size: 24px;
}
