body {
    margin: 0;
    background: #F5DE8A;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    margin: -52px 200px;
}
.header {
    background: #2ECC71;
    height: 15vh;
}
.header-line {
    padding-top: 50px;
    display: flex;
    align-items: center;
}

/* .container {
    margin: -52px 34px;
}
/* .header {
    background: #2ECC71;
    height: 21vh;
}
.header-line {
    padding-top: 50px;
    display: flex;
    align-items: center;
} */

.nav-item {
    margin: 70px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 32px;
    margin-right: 25px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;
}

.catalog {
    display: flex;
    flex-direction: column; /* Вертикальное расположение для логотипа */
    align-items: center; /* Центрирование по горизонтали */
    padding: 1em 10rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
}

.catalog-content-container {
    display: flex; /* Горизонтальное расположение для текста и изображения */
    justify-content: center; /* Центрируем содержимое */
    align-items: flex-start; /* Выравниваем по верхнему краю */
    width: 100%; /* Занять всю ширину */
}
.item {
    display: flex; /* Используем флекс для вертикального расположения текста и изображения */
    flex-direction: column; /* Вертикальное расположение текста над изображением */
    align-items: center; /* Центрируем элементы по горизонтали */
    margin: 0 20px; /* Отступы между элементами */
}


.catalog h2 {
    font-size: 40px;
    margin-bottom: 15px;
    font-weight: bold;
    margin-top: 5px;
}

.catalog-content-container p {
    font-size: 32px;
    margin-top: 5px;
    margin-bottom: 2px;
}

.button {
    background-color: #2ECC71; /* Зеленый цвет кнопки */
    color: #fff; /* Белый текст */
    padding: 8px 42px; /* Отступы внутри кнопки */
    text-decoration: none; /* Убираем подчеркивание */
    border-radius: 5px; /* Закругленные углы */
    margin-top: 10px; /* Отступ сверху */
    font-weight: bold;
    font-size: 24px; /* Размер шрифта */
    transition: background-color 0.3s; /* Плавный переход цвета */
}
.button:hover {
    background-color: #2ECC71; /* Более темный зеленый при наведении */
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    font-size: 24px;
}
