body {
    margin: 0;
    background: #F5DE8A;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin: -52px 200px;
}

.header {
    background: #2ECC71;
    height: 15vh;
}

.header-line {
    padding-top: 50px;
    display: flex;
    align-items: center;
}

.nav-item {
    margin: 70px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 32px;
    margin-right: 25px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;
}

.catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 1rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
}

.catalog-content-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 28px;
}

.potcatalog-content-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 18px;
}

.item-pot {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 70px;
}

.catalog h2 {
    font-size: 40px;
    margin-bottom: 30px;
    font-weight: bold;
    margin-top: 5px;
}

.catalog-content-container p {
    font-size: 32px;
    margin-top: -10px;
    margin-bottom: 2px;
}

.potcatalog-content-container p {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    white-space: nowrap; /* Запрещаем перенос текста */
}

.product-info {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 2px;
    display: flex; /* Используем flex для выравнивания текста */
    align-items: center; /* Выравниваем по вертикали */
    white-space: nowrap; /* Запрещаем перенос текста */
}

.item-pot b {
    margin-right: 10px; /* Пробел между названием и ценой */
}

.button {
    background-color: #2ECC71; /* Зеленый цвет кнопки */
    color: #fff; /* Белый текст */
    padding: 8px 42px; /* Отступы внутри кнопки */
    text-decoration: none; /* Убираем подчеркивание */
    border-radius: 5px; /* Закругленные углы */
    margin-top: 10px; /* Отступ сверху */
    font-weight: bold;
    font-size: 24px; /* Размер шрифта */
    transition: background-color 0.3s; /* Плавный переход цвета */
}

.button:hover {
    background-color: #2ECC71; /* Более темный зеленый при наведении */
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    font-size: 24px;
}
